@model Dziennik_Lekcyjny.ViewModels.HomeViewModel

    <nav class="kategorieHorizontal">
        <ul>
            <li>
                <a href="link" style="background-image: url(../Content/Kategorie/nauczyciel.png); ">
                    Nauczyciel
                </a>
            </li>
            <li>
                <a href="link" style="background-image: url(../Content/Kategorie/uczen.png); ">
                    Uczen
                </a>
            </li>
        </ul>
    </nav>

